<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="{{ path('app_home_index') }}" class="logo d-flex align-items-center">
                    <span>CC&C</span>
                </a>
                <p>Plateforme de prise de rendez-vous chez le vétérinaire le plus proche de chez votre lieu d'habitation
                    !</p>
                <!--Bientôt Disponible !!! -->
                <!--<div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>-->
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Liens importants</h4>
                <ul>
                    <li><a href="{{ path('app_home_index') }}">Accueil</a></li>
                    <li><a href="{{ path('app_about') }}">A Propos</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    <li><a href="{{ path('app_cgu') }}">CGU</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Nos services</h4>
                <ul>
                    <li><a href="{{ path('app_login') }}">Connexion Client</a></li>
                    <li><a href="{{ path('app_vendor_login') }}">Connexion Vétérinaire</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    <!-- Bientôt Disponible -->
                    <!--<li><a href="#">Recettes</a></li>-->
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact</h4>
                <p>
                    EAF <br>
                    Clermont-Ferrand, 63000<br>
                    Auvergne Rhône-Alpes <br>
                    <strong>Email:</strong> contact@comme-chien-et-chat.eu<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>CC&C</span></strong>. Tout droit réservé.
        </div>
    </div>

</footer>