<header id="header" class="header fixed top-0 bg-primary flex items-center">
    <div class="container mx-auto flex items-center justify-between text-black">

        <a href="{{ path('app_home_index') }}" class="logo flex items-center">
            <h1>CC&C</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide hidden bi bi-x"></i>
        <nav id="navbar" class="navbar" style="color:black!important">
            <ul class="flex">
                <li>
                    <a href="{{ path('app_home_index') }}" {% if app.request.get('_route')=="app_home_index" %} class="active"{% endif %}>Accueil</a>
                </li>
                <li>
                    <a href="{{ path('app_about') }}"{% if app.request.get('_route')=="app_about" %} class="active"{% endif %}>A Propos</a>
                </li>
                <li>
                    <a href="{{ path('app_contact') }}"{% if app.request.get('_route')=="app_contact" %} class="active"{% endif %}>Contact</a>
                </li>
                {% if app.user is null %}
                    <li>
                        <a href="{{ path('app_register') }}"{% if app.request.get('_route')=="app_register" %} class="active"{% endif %}>Inscription</a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}"{% if app.request.get('_route')=="app_login" %} class="active"{% endif %}>Se connecter</a>
                    </li>
                {% else %}
                    <li class="dropdown relative">
                        <a class="get-a-quote" href="/logout">
                            <span>Hey {{ app.user.name }}</span>
                            <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul class="absolute hidden bg-white shadow-lg">
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="/dashboard">Tableau de bord</a></li>
                            {% else %}
                                <li><a href="/vendor/dashboard">Tableau de bord</a></li>
                            {% endif %}
                            <li><a href="/logout">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
