<header id="header" class="header d-flex align-items-center fixed-top" style="background-color:#0e1d34!important">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" style="color:black;">

        <a href="{{ path('app_home_index') }}" class="logo d-flex align-items-center">
            <h1>CC&C</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar" style="color:black!important">
            <ul>
                <li>
                    <a href="{{ path('app_home_index') }}" {% if app.request.get('_route')=="app_home_index" %} class="active"{% endif %}>Accueil</a>
                </li>
                <li>
                    <a href="{{ path('app_about') }}"{% if app.request.get('_route')=="app_about" %} class="active"{% endif %}>A
                        Propos</a></li>
                <li>
                    <a href="{{ path('app_contact') }}"{% if app.request.get('_route')=="app_contact" %} class="active"{% endif %}>Contact</a>
                </li>
                {% if app.user is null %}
                    <li>
                        <a href="{{ path('app_register') }}"{% if app.request.get('_route')=="app_register" %} class="active"{% endif %}>Inscription</a>
                    </li>
                    <li><a class="get-a-quote"
                           href="{{ path('app_login') }}"{% if app.request.get('_route')=="app_login" %} class="active"{% endif %}>Se
                            connecter</a></li>
                {% else %}
                    <li class="dropdown"><a class="get-a-quote" href="/logout"><span>Hey {{ app.user.name }}</span><i
                                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="/dashboard">Tableau de bord</a></li>
                            <li><a href="/logout">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- End Header -->