{% extends 'baseDashboard.html.twig' %}

{% block content %}
    <h1>Mes avis et notes</h1>

    {% if appointment is null %}
        <p>Aucun rendez-vous à évaluer pour le moment.</p>
    {% else %}
        <h2>Note pour le rendez-vous du {{ appointment.appointmentDateTime|date('d/m/Y à H:i') }}</h2>
        {{ form_start(form) }}
        {{ form_widget(form.note) }}
        {{ form_widget(form.commentaire) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
